<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
		<add name="ResturentManagementDb" providerName="System.Data.SqlClient" connectionString="server=SHOPNIL\SQLEXPRESS01;database=ResturantManagmentSystem;integrated security=true;"/>
	</connectionStrings>
</configuration>